@import "tailwindcss";


@layer components {
  .table-input {
    @apply w-full bg-transparent px-2 py-1 rounded-md
           focus:bg-white dark:focus:bg-slate-800
           focus:outline-none focus:ring-1
           focus:ring-[#d9bcbc] dark:focus:ring-slate-600;
  }

  .table-select {
    @apply bg-white dark:bg-slate-800
           border border-[#e5caca] dark:border-slate-700
           rounded-full px-3 py-1 text-xs;
  }

  .modal-input {
  @apply w-full bg-white dark:bg-slate-800
         border border-[#e5caca] dark:border-slate-700
         rounded-lg px-3 py-2
         outline-none
         focus:ring-1 focus:ring-[#d9bcbc] dark:focus:ring-slate-600;
}

.modal-textarea {
  @apply w-full bg-white dark:bg-slate-800
         border border-[#e5caca] dark:border-slate-700
         rounded-lg px-3 py-2
         outline-none
         focus:ring-1 focus:ring-[#d9bcbc] dark:focus:ring-slate-600;
}

}


/* Enable dark variant */
@custom-variant dark (&:where(.dark, .dark *));


