@import "tailwindcss";


@layer components {
  .table-input {
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 0.25rem 0.5rem; /* py-1 px-2 */
    border-radius: var(--radius-lg);
  }

  .table-input:focus {
    background-color: var(--color-slate-800);
    box-shadow: 0 0 0 1px var(--color-slate-600);
  }

  .table-select {
    background-color: var(--color-slate-800);
    border: 1px solid var(--color-slate-700);
    border-radius: 9999px; /* rounded-full */
    padding: 0.25rem 0.75rem; /* py-1 px-3 */
    font-size: 0.75rem; /* text-xs */
  }
}
